In [1]:
import pandas as pd
data = pd.read_csv('DS1_C4_S3_Loan_Data_Challenge.csv')

In [2]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71,360,1,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40,180,1,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253,360,1,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187,360,1,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133,360,0,Semiurban,N

In [3]:
# task 1

In [4]:
num_rows, num_columns = data.shape

null_values = data.isnull().sum()

print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')
print('Null values:')
print(null_values)

Number of rows: 614
Number of columns: 13
Null values:
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [5]:
# task 2

In [7]:
filtered_data = data[(data['Gender'] == 'Female') & 
                     (data['Self_Employed'] == 'Yes') & 
                     (data['ApplicantIncome'] > 4000)]

print(filtered_data)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
54   LP001186  Female     Yes          1      Graduate           Yes
113  LP001392  Female      No          1      Graduate           Yes
353  LP002142  Female     Yes          0      Graduate           Yes
370  LP002194  Female      No          0      Graduate           Yes
404  LP002301  Female      No          0      Graduate           Yes
430  LP002377  Female      No          1      Graduate           Yes
439  LP002407  Female     Yes          0  Not Graduate           Yes
463  LP002489  Female      No          1  Not Graduate           Yes
493  LP002582  Female      No          0  Not Graduate           Yes
534  LP002731  Female      No          0  Not Graduate           Yes
561  LP002813  Female     Yes          1      Graduate           Yes
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
54             11500                0.0         286               360
113             7451                0.0         146               360
353             5500                0.0         105               360
370            15759                0.0          55               360
404             7441                0.0         194               360
430             8624                0.0         150               360
439             7142                0.0         138               360
463             5191                0.0         132               360
493            17263                0.0         225               360
534            18165                0.0         125               360
561            19484                0.0         600               360
613             4583                0.0         133               360

     Credit_History Property_Area Loan_Status
54                0         Urban           N
113               1     Semiurban           Y
353               0         Rural           N
370               1     Semiurban           Y
404               1         Rural           N
430               1     Semiurban           Y
439               1         Rural           Y
463               1     Semiurban           Y
493               1     Semiurban           Y
534               1         Urban           Y
561               1     Semiurban           Y
613               0     Semiurban           N

In [8]:
# task 3

In [11]:

filtered_data = data[(data['Gender'] == 'Male') & 
                     (data['Education'] == 'Graduate') & 
                     (data['Loan_Status'] == 'Y')]

print(filtered_data)
num_customers = len(filtered_data)
print(num_customers)

      Loan_ID Gender Married Dependents Education Self_Employed  \
0    LP001002   Male      No          0  Graduate            No
2    LP001005   Male     Yes          0  Graduate           Yes
4    LP001008   Male      No          0  Graduate            No
5    LP001011   Male     Yes          2  Graduate           Yes
8    LP001018   Male     Yes          2  Graduate            No
..        ...    ...     ...        ...       ...           ...
606  LP002961   Male     Yes          1  Graduate            No
608  LP002974   Male     Yes          0  Graduate            No
610  LP002979   Male     Yes         3+  Graduate            No
611  LP002983   Male     Yes          1  Graduate            No
612  LP002984   Male     Yes          2  Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         146               360
2               3000                0.0          66               360
4               6000                0.0         141               360
5               5417             4196.0         267               360
8               4006             1526.0         168               360
..               ...                ...         ...               ...
606             3400             2500.0         173               360
608             3232             1950.0         108               360
610             4106                0.0          40               180
611             8072              240.0         253               360
612             7583                0.0         187               360

     Credit_History Property_Area Loan_Status
0                 1         Urban           Y
2                 1         Urban           Y
4                 1         Urban           Y
5                 1         Urban           Y
8                 1         Urban           Y
..              ...           ...         ...
606               1     Semiurban           Y
608               1         Rural           Y
610               1         Rural           Y
611               1         Urban           Y
612               1         Urban           Y

[279 rows x 13 columns]
279

In [12]:
# task 4

In [16]:

filtered_data = data[(data['Loan_Status'] == 'Y') & 
                     (data['Dependents'] == '3+') & 
                     (data['Property_Area'] == 'Rural')]

print(filtered_data)

num_customers = len(filtered_data)
print(num_customers)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
126  LP001448    Male     Yes         3+      Graduate            No
213  LP001715    Male     Yes         3+  Not Graduate           Yes
255  LP001846  Female      No         3+      Graduate            No
324  LP002065    Male     Yes         3+      Graduate            No
352  LP002141    Male     Yes         3+      Graduate            No
376  LP002219    Male     Yes         3+      Graduate            No
390  LP002255    Male      No         3+      Graduate            No
391  LP002262    Male     Yes         3+      Graduate            No
481  LP002536    Male     Yes         3+  Not Graduate            No
515  LP002659    Male     Yes         3+      Graduate            No
522  LP002692    Male     Yes         3+      Graduate           Yes
539  LP002740    Male     Yes         3+      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
126            23803                0.0         370               360
213             5703                0.0         130               360
255             3083                0.0         255               360
324            15000                0.0         300               360
352             2666             2083.0          95               360
376             8750             4996.0         130               360
390             9167                0.0         185               360
391             9504                0.0         275               360
481             3095                0.0         113               360
515             3466             3428.0         150               360
522             5677             1424.0         100               360
539             6417                0.0         157               180
610             4106                0.0          40               180

     Credit_History Property_Area Loan_Status
126               1         Rural           Y
213               1         Rural           Y
255               1         Rural           Y
324               1         Rural           Y
352               1         Rural           Y
376               1         Rural           Y
390               1         Rural           Y
391               1         Rural           Y
481               1         Rural           Y
515               1         Rural           Y
522               1         Rural           Y
539               1         Rural           Y
610               1         Rural           Y
13

In [17]:
# task 5

In [19]:
warner_kim = pd.DataFrame({'Gender': 'Male',
                           'Married': 'Yes',
                           'Dependents': '0',
                           'Education': 'Graduate',
                           'Self_Employed': 'No',
                           'ApplicantIncome': 290000,
                           'CoapplicantIncome': 0,
                           'LoanAmount': 290,
                           'Loan_Amount_Term': 360,
                           'Credit_History': 1,
                           'Property_Area': 'Urban'},
                          index=['Warner Kim'])
data_with_warner_kim = pd.concat([data, warner_kim])
warner_kim_loan_status = data_with_warner_kim.loc['Warner Kim']['Loan_Status']
print(f"Warner Kim's loan status: {warner_kim_loan_status}")

Warner Kim's loan status: nan

In [20]:
# task 6

In [22]:
filtered_data = data[(data['Married'] == 'No') & 
                     (data['Self_Employed'] == 'Yes') & 
                     (data['Property_Area'] != 'Urban') & 
                     (data['Loan_Status'] == 'Y')]
gender_count = filtered_data['Gender'].value_counts()
print(gender_count)

Gender
Male      12
Female     7
Name: count, dtype: int64

In [23]:
# task 7

In [25]:

average_income_by_area = data.groupby('Property_Area')['ApplicantIncome'].mean()

print(average_income_by_area)

Property_Area
Rural        5554.083799
Semiurban    5292.261803
Urban        5398.247525
Name: ApplicantIncome, dtype: float64

In [26]:
# task 8

In [30]:

filtered_customers = data[(data['Property_Area'].isin(['Rural', 'Semiurban'])) & 
                          (data['ApplicantIncome'] > 4000) & 
                          (data['CoapplicantIncome'] > 1000) & 
                          (data['Loan_Status'] == 'N')]

count_before_update = len(filtered_customers)

data.loc[filtered_customers.index, 'Loan_Status'] = 'Y'

filtered_customers_after_update = data[(data['Property_Area'].isin(['Rural', 'Semiurban'])) & 
                                       (data['ApplicantIncome'] > 4000) & 
                                       (data['CoapplicantIncome'] > 1000) & 
                                       (data['Loan_Status'] == 'N')]

count_after_update = len(filtered_customers_after_update)

print("count_before_update")
print(count_before_update)
print("count_after_update")
print(count_after_update)

count_before_update
0
count_after_update
0

In [31]:
# task 9

In [34]:

filtered_customers = data[(data['Dependents'] == '3+') & 
                          (data['Property_Area'] == 'Urban') & 
                          (data['Loan_Status'] == 'Y')]

average_income = filtered_customers['ApplicantIncome'].mean()

count = len(filtered_customers)

print("Average Income: $" + str(average_income))
print("Number of customers: " + str(count))

Average Income: $11045.625
Number of customers: 8

In [35]:
# task 10

In [37]:

average_urban_income = data[data['Property_Area'] == 'Urban']['ApplicantIncome'].mean()

filtered_customers = data[(data['Dependents'] == '3+') & 
                          ((data['Property_Area'] == 'Rural') | (data['Property_Area'] == 'Semiurban')) & 
                          (data['ApplicantIncome'] > average_urban_income)]

print("List of customers who meet the conditions:")
print(filtered_customers[['Loan_ID', 'Property_Area', 'Dependents', 'ApplicantIncome']])

average_income_non_urban_y = data[(data['Property_Area'] != 'Urban') & (data['Loan_Status'] == 'Y')]['ApplicantIncome'].mean()

print(average_income_non_urban_y)

List of customers who meet the conditions:
      Loan_ID Property_Area Dependents  ApplicantIncome
34   LP001100         Rural         3+            12500
126  LP001448         Rural         3+            23803
155  LP001536     Semiurban         3+            39999
177  LP001610     Semiurban         3+             5516
213  LP001715         Rural         3+             5703
324  LP002065         Rural         3+            15000
376  LP002219         Rural         3+             8750
390  LP002255         Rural         3+             9167
391  LP002262         Rural         3+             9504
409  LP002317         Rural         3+            81000
522  LP002692         Rural         3+             5677
539  LP002740         Rural         3+             6417
557  LP002795     Semiurban         3+            10139
574  LP002863     Semiurban         3+             6406
592  LP002933     Semiurban         3+             9357
5332.445512820513