In [1]:
# task 1

In [6]:
import pandas as pd

# Generate student IDs starting from 1001, increasing by 1
student_ids = list(range(1001, 1041))

# Display the student IDs
print(student_ids)

[1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040]

In [3]:
# task 2

In [2]:
import pandas as pd
# Student IDs from Task 1
student_ids = list(range(1001, 1041))

# Mathematics and Physics scores
maths_marks = [35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks = [85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

maths_dict=pd.Series(maths_marks, index=student_ids)

physics_dict =pd.Series(physics_marks, index=student_ids)


# Display the dictionaries
print("Mathematics Scores:")
print(maths_dict)
print("Physics Scores:")
print(physics_dict)

Mathematics Scores:
1001    35
1002    86
1003    63
1004    90
1005    50
1006    63
1007    15
1008    72
1009    15
1010    54
1011    72
1012    83
1013    58
1014    70
1015    92
1016    40
1017    59
1018    63
1019    53
1020    59
1021    55
1022    85
1023    18
1024    83
1025    67
1026    85
1027    46
1028    59
1029    77
1030    71
1031    77
1032    56
1033    79
1034    61
1035    82
1036    76
1037    60
1038    52
1039    88
1040    78
dtype: int64
Physics Scores:
1001    85
1002    94
1003    63
1004    59
1005    76
1006    64
1007    87
1008    55
1009    51
1010    71
1011    54
1012    94
1013    33
1014    72
1015    75
1016    67
1017    85
1018    15
1019    50
1020    50
1021    19
1022    55
1023    59
1024    65
1025    76
1026    13
1027    57
1028    70
1029    51
1030    94
1031    55
1032    50
1033    71
1034    91
1035    75
1036    51
1037    90
1038    70
1039    87
1040    56
dtype: int64

In [13]:
# task 3

In [8]:
import pandas as pd

# Student IDs from Task 1
student_ids = pd.Series(range(1001, 1041))

# Mathematics and Physics scores
maths_marks = [35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks = [85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

# Calculate the sum of scores for each student 
total_scores = pd.Series([maths_marks[i] + physics_marks[i] for i in range(len(maths_marks))], index=student_ids)

# Display the Series
print(total_scores)

1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

In [17]:
# task 4

In [20]:


# Filter the Series to find qualifying students
qualifying_students = total_scores[total_scores >= 120]

# Display the student IDs of the qualifying students
print("Qualifying Student IDs:")
print(qualifying_students)

Qualifying Student IDs:
1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1008    127
1010    125
1011    126
1012    177
1014    142
1015    167
1017    144
1022    140
1024    148
1025    143
1028    129
1029    128
1030    165
1031    132
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

In [21]:
# task 5

In [25]:
import pandas as pd

# Student IDs from Task 1
student_ids = pd.Series(range(1001, 1041))

# Mathematics and Physics scores
maths_marks = [35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks = [85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

# Calculate the sum of scores for each student
total_scores = pd.Series([maths + physics for maths, physics in zip(maths_marks, physics_marks)], index=student_ids)

# Define the cut-off score
cut_off_score = 120

# Create a DataFrame with the qualifying students
qualifying_students_df = pd.DataFrame({'round1 qualifiers': total_scores[total_scores > cut_off_score]})

# Display the DataFrame
print(qualifying_students_df)

      round1 qualifiers
1002                180
1003                126
1004                149
1005                126
1006                127
1008                127
1010                125
1011                126
1012                177
1014                142
1015                167
1017                144
1022                140
1024                148
1025                143
1028                129
1029                128
1030                165
1031                132
1033                150
1034                152
1035                157
1036                127
1037                150
1038                122
1039                175
1040                134

In [26]:
# task 6

In [34]:
import pandas as pd

# Student IDs from Task 1
student_ids = pd.Series(range(1001, 1041))

# Mathematics and Physics scores
maths_marks = [35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks = [85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

# Create Pandas Series for Mathematics and Physics scores with student IDs as the index
maths_series = pd.Series(maths_marks, index=student_ids)
physics_series = pd.Series(physics_marks, index=student_ids)

# Conditions for round 2 qualification
round2_qualifiers = physics_series[(physics_series >= 50) & (maths_series >= 50) & ((physics_series + maths_series) >= 120)]

# Create DataFrame with column name "round 2 qualifiers"
round2_df = pd.DataFrame({"round 2 qualifiers": round2_qualifiers.index})

# Display the DataFrame
print(round2_df)

    round 2 qualifiers
0                 1002
1                 1003
2                 1004
3                 1005
4                 1006
5                 1008
6                 1010
7                 1011
8                 1012
9                 1014
10                1015
11                1017
12                1022
13                1024
14                1025
15                1028
16                1029
17                1030
18                1031
19                1033
20                1034
21                1035
22                1036
23                1037
24                1038
25                1039
26                1040

In [35]:
# task 7

In [36]:

# Display the count of qualifying students for round 2
qualifying_students_count = len(round2_df)

In [38]:
qualifying_students_count

27