In [1]:
# task 1

In [2]:
import pandas as pd
price_data = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]
car_prices = pd.Series(price_data, index=range(101, 121))
print(car_prices)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

In [3]:
# task 2

In [4]:
highest_price = car_prices.max()
lowest_price = car_prices.min()

In [5]:
highest_price

93947

In [6]:
lowest_price

30660

In [7]:
# task 3

In [10]:
top5cars = car_prices.sort_values(ascending=False).head(5)

In [9]:
top5cars

114    93947
112    93822
120    83197
101    80121
107    78703
dtype: int64

In [11]:
# task 4

In [17]:
filtered_cars = car_prices[car_prices.between(30000, 40000)]
filtered_cars_df = pd.DataFrame(filtered_cars)
print(filtered_cars_df)

         0
103  37077
104  30660
111  39967

In [1]:
# task 5

In [18]:
average_price = car_prices.mean()
above_average_cars = car_prices[car_prices > average_price]
print("Cars Priced Above Average:")
print(above_average_cars)
count_above_average = above_average_cars.count()
print(f"Total Cars Priced Above Average: {count_above_average}")

Cars Priced Above Average:
101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64
Total Cars Priced Above Average: 8

In [13]:
# task 6

In [21]:
new_car_prices = pd.Series([34000, 45000, 54000], index=[201, 202, 203])
updated_car_prices = pd.concat([car_prices, new_car_prices])
updated_car_prices

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

In [15]:
# task 7

In [51]:
discount_percentage = 20
high_priced_cars = updated_car_prices[updated_car_prices > 60000]
discounted_prices = high_priced_cars * (1 - discount_percentage/100)
discounted_prices

Series([], dtype: float64)

In [29]:
# task 8

In [26]:
discount_percentage = 20
high_priced_cars = updated_car_prices[updated_car_prices > 60000]
updated_car_prices = updated_car_prices[updated_car_prices <= 60000]
print("Updated Car Prices:")
print(updated_car_prices)
count_before_update = len(updated_car_prices) + len(high_priced_cars)
count_after_update = len(updated_car_prices)
print(f"\nTotal Cars Before Update: {count_before_update}")
print(f"Total Cars After Update: {count_after_update}")

Updated Car Prices:
102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64

Total Cars Before Update: 23
Total Cars After Update: 15