In [3]:
import pandas as pd
data = pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')

In [4]:
data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
# task 1

In [10]:
missing_values = data.isnull().sum()
data_cleaned = data.dropna()
print(missing_values,data_cleaned)

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64         year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558831  2011     BMW             5 Series         528i      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission state  condition  odometer  color interior  \
0         automatic    ca        5.0   16639.0  white    black
1         automatic    ca        5.0    9393.0  white    beige
2         automatic    ca        4.5    1331.0   gray    black
3         automatic    ca        4.1   14282.0  white    black
4         automatic    ca        4.3    2641.0   gray    black
...             ...   ...        ...       ...    ...      ...
558831    automatic    fl        3.9   66403.0  white    brown
558833    automatic    wa        5.0   54393.0  white    black
558834    automatic    ca        4.8   50561.0  black    black
558835    automatic    ga        3.8   16658.0  white    black
558836    automatic    ca        3.4   15008.0   gray     gray

                                                   seller     mp  \
0                                 kia motors america, inc  20500
1                                 kia motors america, inc  20800
2                  financial services remarketing (lease)  31900
3                                 volvo na rep/world omni  27500
4                  financial services remarketing (lease)  66000
...                                                   ...    ...
558831           lauderdale imports ltd bmw pembrok pines  20300
558833                                    i -5 uhlmann rv  30200
558834             financial services remarketing (lease)  29800
558835  enterprise vehicle exchange / tra / rental / t...  15100
558836                   ford motor credit company,llc pd  29600

                                   Arrival_Date
0       Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1       Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2       Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3       Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4       Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...                                         ...
558831  Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[472336 rows x 14 columns]

In [11]:
# task 2

In [16]:

potential_cars = data[(data['year'] == 2014) & (data['state'] == 'ca')]

potential_cars_sorted = potential_cars.sort_values(by='mp', ascending=True)

top_100_lowest_priced_cars = potential_cars_sorted.head(100)

print(top_100_lowest_priced_cars)

        year        make       model                  trim       body  \
179673  2014      Nissan       Versa                1.6 SV      Sedan
494101  2014  Mitsubishi      Mirage                    DE  hatchback
477609  2014      Nissan       Versa                1.6 SV      sedan
444039  2014      Nissan       Versa                1.6 SV      Sedan
543536  2014       smart      fortwo         passion coupe  hatchback
...      ...         ...         ...                   ...        ...
457262  2014      Nissan       Versa                1.6 SV      Sedan
379472  2014        Ford      Fiesta                    SE  Hatchback
60893   2014      Toyota       Yaris                    LE  Hatchback
442576  2014       smart      fortwo  electric drive coupe  Hatchback
543472  2014      Nissan  Versa Note                1.6 SV  hatchback

       transmission state  condition  odometer   color interior  \
179673    automatic    ca        2.4   78882.0   white    black
494101    automatic    ca        4.3   24002.0  silver    black
477609    automatic    ca        4.1   43948.0   black    black
444039       manual    ca        3.0   44854.0   black    black
543536    automatic    ca        4.8    3575.0       —    black
...             ...   ...        ...       ...     ...      ...
457262    automatic    ca        3.9    8857.0    gray    black
379472    automatic    ca        4.3   45661.0     red    black
60893     automatic    ca        2.0   32691.0     red    black
442576    automatic    ca        4.8    4171.0   white     gray
543472    automatic    ca        4.2   16241.0       —    black

                                                   seller    mp  \
179673                nissan motor acceptance corporation  6175
494101                             black/white auto sales  7225
477609                        consumer portfolio services  7425
444039             bmw alphera/alphera financial services  7525
543536                   mercedes-benz financial services  7900
...                                                   ...   ...
457262                                 santander consumer  9675
379472                                   avis corporation  9675
60893   enterprise vehicle exchange / tra / rental / t...  9675
442576                   mercedes-benz financial services  9700
543472                nissan motor acceptance corporation  9700

                                   Arrival_Date
179673  Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101  Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609  Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039  Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...                                         ...
457262  Thu May 28 2015 05:00:00 GMT-0700 (PDT)
379472  Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
60893   Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576  Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472  Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

[100 rows x 14 columns]

In [17]:
# task 3

In [20]:
cross_table = pd.crosstab(top_100_lowest_priced_cars['make'], 
                          top_100_lowest_priced_cars['mp'], 
                          values=top_100_lowest_priced_cars['model'], 
                          aggfunc='count', 
                          margins=True, 
                          margins_name='Total')
print(cross_table)

mp          6175  7225  7425  7525  7900  8050  8300  8400  8425  8475  ...  \
make                                                                    ...
Chevrolet    NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN  ...
FIAT         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
Ford         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0  ...
Hyundai      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
Mazda        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
Mitsubishi   NaN   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0  ...
Nissan       1.0   NaN   1.0   1.0   NaN   1.0   1.0   NaN   1.0   NaN  ...
Toyota       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
Volkswagen   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
smart        NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN  ...
Total        1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   2.0  ...

mp          9500  9525  9550  9575  9600  9625  9650  9675  9700  Total
make
Chevrolet    2.0   NaN   2.0   NaN   NaN   2.0   1.0   NaN   NaN     16
FIAT         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      1
Ford         NaN   1.0   2.0   3.0   NaN   NaN   NaN   1.0   NaN     14
Hyundai      NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN      1
Mazda        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      1
Mitsubishi   NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN      5
Nissan       2.0   2.0   NaN   NaN   1.0   3.0   1.0   1.0   1.0     55
Toyota       NaN   NaN   NaN   NaN   1.0   NaN   NaN   1.0   NaN      2
Volkswagen   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      1
smart        NaN   NaN   NaN   1.0   NaN   1.0   NaN   NaN   1.0      4
Total        4.0   3.0   4.0   4.0   3.0   6.0   3.0   3.0   2.0    100

[11 rows x 45 columns]

In [21]:
# task 4

In [24]:

chevrolet_cars = top_100_lowest_priced_cars[top_100_lowest_priced_cars['make'] == 'Chevrolet'].copy()

chevrolet_cars['Discounted_Price'] = chevrolet_cars['mp'] * 0.9

print(chevrolet_cars[['make', 'model', 'mp', 'Discounted_Price']])

             make  model    mp  Discounted_Price
518957  Chevrolet  Spark  8400            7560.0
473427  Chevrolet  Spark  8500            7650.0
80892   Chevrolet  Spark  8700            7830.0
2191    Chevrolet  Spark  8950            8055.0
44314   Chevrolet  Spark  9050            8145.0
531030  Chevrolet  Sonic  9150            8235.0
258946  Chevrolet  Sonic  9250            8325.0
471595  Chevrolet  Spark  9325            8392.5
125534  Chevrolet  Sonic  9450            8505.0
44341   Chevrolet  Spark  9500            8550.0
456227  Chevrolet  Sonic  9500            8550.0
456215  Chevrolet  Sonic  9550            8595.0
229362  Chevrolet  Spark  9550            8595.0
391429  Chevrolet  Spark  9625            8662.5
105924  Chevrolet  Sonic  9625            8662.5
125525  Chevrolet  Spark  9650            8685.0

In [25]:
# task 5

In [28]:

average_price_by_interior_color = top_100_lowest_priced_cars.groupby('interior')['mp'].mean()

print(average_price_by_interior_color)

interior
beige     9600.000000
black     9091.558442
gray      9169.642857
purple    9175.000000
red       9150.000000
tan       9575.000000
—         9437.500000
Name: mp, dtype: float64

In [29]:
# task 6

In [30]:

filtered_cars = data[(data['year'] >= 2010) & (data['year'] <= 2015)]

color_availability = filtered_cars.groupby(['make', 'color']).size().reset_index(name='Count')

print(color_availability)

      make     color  Count
0    Acura     beige      1
1    Acura     black   1031
2    Acura      blue     99
3    Acura     brown     12
4    Acura  burgundy     94
..     ...       ...    ...
710     vw     brown      1
711     vw      gray      2
712     vw    silver      1
713     vw     white      2
714     vw         —     10

[715 rows x 3 columns]

In [31]:
# task 7

In [35]:
# Filter the data for BMW Sedans manufactured between 2010 and 2015 with condition score 5
bmw_sedans = data[(data['make'] == 'BMW') & (data['body'] == 'sedan') & (data['year'] >= 2010) & (data['year'] <= 2015) & (data['condition'] == 5)]

# Display the details of the BMW Sedans
print(bmw_sedans)

# Group by Year and Model, then find the maximum expected price (mp)
year_wise_max_price = bmw_sedans.groupby(['year', 'model'])['mp'].max().reset_index()

# Display the year-wise maximum expected price for each model
print(year_wise_max_price)

        year make                model               trim   body transmission  \
479611  2013  BMW  6 Series Gran Coupe               640i  sedan    automatic
479631  2013  BMW             7 Series       750Li xDrive  sedan    automatic
482362  2015  BMW             3 Series        328i xDrive  sedan    automatic
482377  2015  BMW             3 Series               328i  sedan    automatic
482381  2015  BMW             5 Series        528i xDrive  sedan    automatic
482389  2015  BMW             5 Series        528i xDrive  sedan    automatic
482395  2015  BMW             3 Series  328i xDrive SULEV  sedan    automatic
482397  2015  BMW             3 Series        328i xDrive  sedan    automatic
482410  2015  BMW             3 Series               328i  sedan    automatic
482424  2015  BMW             3 Series               328i  sedan    automatic
482426  2015  BMW             3 Series  328i xDrive SULEV  sedan    automatic
482440  2015  BMW             3 Series        328i xDrive  sedan    automatic
482477  2015  BMW  4 Series Gran Coupe        428i xDrive  sedan    automatic
482478  2015  BMW             5 Series               528i  sedan    automatic
482482  2015  BMW             5 Series               535i  sedan    automatic
485046  2015  BMW                  NaN        650i xDrive  sedan    automatic
485061  2015  BMW             5 Series        535i xDrive  sedan    automatic
487594  2014  BMW             5 Series               550i  sedan    automatic
491572  2015  BMW             3 Series               328i  sedan    automatic
495597  2015  BMW             3 Series        328d xDrive  sedan    automatic
521297  2012  BMW             3 Series               328i  sedan       manual
521410  2012  BMW             3 Series               328i  sedan    automatic
521419  2012  BMW             3 Series               328i  sedan       manual
521528  2012  BMW             5 Series               535i  sedan    automatic
521659  2012  BMW             7 Series              740Li  sedan    automatic
530172  2014  BMW                  NaN       750Li xDrive  sedan    automatic
545421  2015  BMW             3 Series  328i xDrive SULEV  sedan    automatic
545607  2012  BMW             5 Series               528i  sedan    automatic
546729  2014  BMW             3 Series  328i xDrive SULEV  sedan    automatic
546739  2014  BMW             3 Series               320i  sedan    automatic
547452  2013  BMW             3 Series               328i  sedan    automatic
547654  2015  BMW             3 Series        335i xDrive  sedan    automatic
547672  2015  BMW             3 Series        328i xDrive  sedan    automatic
547677  2015  BMW             3 Series        328i xDrive  sedan    automatic
547683  2015  BMW  4 Series Gran Coupe               435i  sedan    automatic
547688  2015  BMW             5 Series        535i xDrive  sedan    automatic
547691  2015  BMW             3 Series  328i xDrive SULEV  sedan    automatic
547709  2015  BMW             3 Series  328i xDrive SULEV  sedan    automatic
547719  2015  BMW             3 Series        328i xDrive  sedan    automatic
549507  2013  BMW  6 Series Gran Coupe        650i xDrive  sedan    automatic
549682  2015  BMW             3 Series               320i  sedan    automatic

       state  condition  odometer   color interior  \
479611    pa        5.0   25658.0   brown    white
479631    wi        5.0   28150.0   white    black
482362    nj        5.0    5875.0   white    black
482377    nj        5.0    5003.0  silver    black
482381    nj        5.0    8443.0   black      tan
482389    nj        5.0    1639.0   white    beige
482395    nj        5.0    8487.0   white    black
482397    nj        5.0   11814.0   black    black
482410    nj        5.0    5450.0   black      tan
482424    nj        5.0    8569.0     red    black
482426    nj        5.0    6075.0    gray    black
482440    nj        5.0   10199.0    gray        —
482477    nj        5.0    6435.0   black    black
482478    nj        5.0    3001.0   black    black
482482    nj        5.0    4223.0       —    black
485046    nj        5.0    2496.0    gray    black
485061    nj        5.0    1713.0   beige    black
487594    nj        5.0   15447.0   black        —
491572    fl        5.0    3120.0   white      red
495597    nj        5.0    7413.0       —      tan
521297    oh        5.0   36357.0   white    black
521410    ca        5.0   35930.0    gray        —
521419    ca        5.0    3940.0   white    black
521528    ca        5.0   25273.0   beige      tan
521659    fl        5.0   20909.0    gray    black
530172    oh        5.0    6523.0   white    black
545421    wa        5.0    6691.0   white    black
545607    fl        5.0   43146.0    blue    beige
546729    oh        5.0     787.0   brown        —
546739    oh        5.0    1581.0   black    black
547452    oh        5.0    3689.0   white    black
547654    oh        5.0    6032.0       —    black
547672    oh        5.0    4579.0   white        —
547677    oh        5.0    6786.0   white    brown
547683    oh        5.0    5112.0     red    black
547688    oh        5.0    6446.0       —    black
547691    oh        5.0    6410.0   white    black
547709    oh        5.0    4553.0   black    black
547719    oh        5.0    5342.0   white    beige
549507    oh        5.0    1183.0   brown        —
549682    ga        5.0    1645.0    gray    black

                                        seller     mp  \
479611                                toy barn  50000
479631  financial services remarketing (lease)  47000
482362                 bmw north america greer  35700
482377                 bmw north america greer  34700
482381               bmw na manheim new jersey  45900
482389               bmw na manheim new jersey  48200
482395                 bmw north america greer  35000
482397                 bmw north america greer  34100
482410                 bmw north america greer  70000
482424                 bmw north america greer  33800
482426               bmw na manheim new jersey  35600
482440                 bmw north america greer  34500
482477               bmw na manheim new jersey  45900
482478                 bmw north america greer  44100
482482                 bmw north america greer  46800
485046               bmw na manheim new jersey  79000
485061               bmw na manheim new jersey  55500
487594                 bmw north america greer  54300
491572             bavarian motor cars usa inc  35200
495597                 bmw north america greer  41400
521297                           the bmw store  21900
521410  financial services remarketing (lease)  24200
521419  financial services remarketing (lease)  26800
521528  financial services remarketing (lease)  30400
521659  financial services remarketing (lease)  37000
530172                       bmw north america  61000
545421                            a1 group inc  36000
545607                   germain bmw of naples  25600
546729                   bmw north america raa  31100
546739                   bmw north america raa  24200
547452                   bmw north america raa  25900
547654               bmw na manheim new jersey  44200
547672                 bmw north america greer  36800
547677                   bmw north america uaa  36000
547683                 bmw north america greer  46900
547688               bmw na manheim new jersey  56100
547691                 bmw north america greer  36200
547709               bmw na manheim new jersey  36800
547719                   bmw north america uaa  36500
549507               bmw na manheim new jersey  63000
549682                     clutch georgia, llc  29700

                                   Arrival_Date
479611  Thu May 28 2015 02:00:00 GMT-0700 (PDT)
479631  Wed Jun 03 2015 03:00:00 GMT-0700 (PDT)
482362  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482377  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482381  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482389  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482395  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482397  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482410  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482424  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482426  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482440  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482477  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482478  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
482482  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
485046  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
485061  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
487594  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
491572  Tue Jun 02 2015 04:00:00 GMT-0700 (PDT)
495597  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
521297  Thu Jun 11 2015 03:30:00 GMT-0700 (PDT)
521410  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
521419  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
521528  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
521659  Wed Jun 17 2015 02:40:00 GMT-0700 (PDT)
530172  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
545421  Wed Jun 17 2015 05:30:00 GMT-0700 (PDT)
545607  Tue Jun 16 2015 02:30:00 GMT-0700 (PDT)
546729  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
546739  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547452  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547654  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547672  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547677  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547683  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547688  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547691  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547709  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547719  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
549507  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
549682  Thu Jun 18 2015 03:00:00 GMT-0700 (PDT)
    year                model     mp
0   2012             3 Series  26800
1   2012             5 Series  30400
2   2012             7 Series  37000
3   2013             3 Series  25900
4   2013  6 Series Gran Coupe  63000
5   2013             7 Series  47000
6   2014             3 Series  31100
7   2014             5 Series  54300
8   2015             3 Series  70000
9   2015  4 Series Gran Coupe  46900
10  2015             5 Series  56100

In [36]:
# task 8

In [37]:

suvs = data[(data['body'] == 'suv') & (data['year'] >= 2010) & (data['year'] <= 2015) & (data['odometer'] <= 30000)]

top_100_suvs = suvs.sort_values(by='mp', ascending=False).head(100)

print(top_100_suvs)

        year           make     model          trim body transmission state  \
474025  2015  Mercedes-Benz   G-Class       G63 AMG  suv    automatic    ga
474024  2015  Mercedes-Benz   G-Class       G63 AMG  suv    automatic    fl
474861  2014  Mercedes-Benz   G-Class       G63 AMG  suv    automatic    fl
532406  2014  Mercedes-Benz   G-Class       G63 AMG  suv          NaN    pa
556520  2014  Mercedes-Benz   G-Class       G63 AMG  suv    automatic    fl
...      ...            ...       ...           ...  ...          ...   ...
484819  2014            BMW        X5     xDrive50i  suv    automatic    nj
527531  2015  Mercedes-Benz  GL-Class  GL450 4MATIC  suv          NaN    pa
480737  2015  Mercedes-Benz  GL-Class  GL450 4MATIC  suv    automatic    fl
520671  2015            BMW        X5     xDrive50i  suv    automatic    oh
547821  2013        Porsche   Cayenne           GTS  suv    automatic    ca

        condition  odometer  color interior                     seller  \
474025        4.5    1751.0   gray      red        platinum motor cars
474024        5.0     170.0  black    black             the collection
474861        4.9    7383.0  white    black             the collection
532406        4.8    9041.0  black    black         sports car leasing
556520        4.9    7982.0   blue    beige  exotic motors corporation
...           ...       ...    ...      ...                        ...
484819        4.3    9272.0  black        —    bmw north america greer
527531        4.9    6218.0  white    black        adcock brothers inc
480737        4.4   10694.0   gray    black        sixt rent a car llc
520671        4.9    6111.0  white    black          bmw north america
547821        3.9   22113.0  brown      tan     plutus motor group llc

            mp                             Arrival_Date
474025  143000  Wed May 27 2015 03:00:00 GMT-0700 (PDT)
474024  143000  Thu May 28 2015 02:15:00 GMT-0700 (PDT)
474861  123000  Thu May 28 2015 02:15:00 GMT-0700 (PDT)
532406  121000  Thu Jun 11 2015 02:00:00 GMT-0700 (PDT)
556520  119000  Wed Jun 17 2015 04:30:00 GMT-0700 (PDT)
...        ...                                      ...
484819   65000  Tue Jun 02 2015 07:00:00 GMT-0700 (PDT)
527531   65000  Thu Jun 11 2015 02:00:00 GMT-0700 (PDT)
480737   65000  Tue Jun 09 2015 02:15:00 GMT-0700 (PDT)
520671   65000  Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
547821   65000  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)

[100 rows x 14 columns]