### Task - 1

In [39]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

students = data

# creating an empty list 
new_students = []

# You're using a loop to ask the user to input the names of five new students.
for i in range(5):
    # appended to the new_students list.
    new_students.append(input("Enter the name of the new student: "))

for j in new_students:
    students.append(j)
    
#  print out the combined list students.    
print(students)
#print(new_students)

Enter the name of the new student: jaggu
Enter the name of the new student: mosh
Enter the name of the new student: lucy
Enter the name of the new student: mike
Enter the name of the new student: jonny
['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'jaggu', 'mosh', 'lucy', 'mike', 'jonny']

### Task - 2

In [30]:
#refer to the same list as students
last_student = students

#  creates an empty list 
last1_students = []

# This loop iterates over the last five elements of the students list in reverse order.
for i in students[:-6:-1]:
    print('the last five students sign up:',i)
    
    # append [] last1_students
    last1_students.append(i)
    
    # here reversed all students
for last_student in  reversed(students):
    print(last_student,end = ' , ')

the last five students sign up: jonny
the last five students sign up: mike
the last five students sign up: lucy
the last five students sign up: mosh
the last five students sign up: jaggu
jonny , mike , lucy , mosh , jaggu , Mark Antony , Alexanderia Peterson , Katy Perry , Alexander Thomas , Joe Cook , Kenny Peterson , Mark Thomas , Matt Antony , Lily Jason , Florida Thomson , Janice Ken , Jim Nick , Bret Lee , John Chan , Mark Antony ,

### Task - 3

In [12]:
students 
# here use slicing to reversed all list item
a = students[::-1]

print('reverse data:',a)

reverse data: ['jonny', 'mike', 'lucy', 'mosh', 'jaggu', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

### Task - 5

In [3]:
students =  ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason',
            'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 
            'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'jaggu', 'mosh', 'lucy', 'mike', 'jonny']


data1 = sorted(students)

print(data1)

['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Joe Cook', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Mark Antony', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'jaggu', 'jonny', 'lucy', 'mike', 'mosh']

### Task - 7

In [39]:
count = 0

#  loop iterates over numbers in the range from 555 to 677.
for i in range(555,678):
    # number i is divisible by 7.
    if i % 7 == 0 :
        count = count + 1
        print(i,end=' ')
print("\nThe total no of divide by 7 in b/w 555 to 678 :",count)

560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672
The total no of divide by 7 in b/w 555 to 678 : 17

### Task - 9

In [44]:
firstlist = [1,21,3,4,6,7,18,41]
secondlist = [19,1,17,15,14,13,2,11]
thirdlist = []

for i in range(0, len(firstlist)):
    thirdlist.append(firstlist[i] + secondlist[i])        # Calculate the sum of elements
    

print(thirdlist)

[20, 22, 20, 19, 20, 20, 20, 52]