In [7]:
#TASK 1 (A)
rollno = 88
print('rollno  :',rollno)
print('id of rollno :',id(rollno))
print('datatype :',type(rollno))

rollno  : 88
id of rollno : 140711873125896
datatype : <class 'int'>

In [14]:
#TASK 1 (B)
FirstName = 'ThejaR'
print('Name :',FirstName)
print('id of Name :',id(FirstName))
print('datatype :',type(FirstName))

Name : ThejaR
id of Name : 2387013679856
datatype : <class 'str'>

In [15]:
#TASK 1 (c)
LastName = 'ThejaR'
print('Name :',LastName)
print('id of Name :',id(LastName))
print('datatype :',type(LastName))

Name : ThejaR
id of Name : 2387013679856
datatype : <class 'str'>

In [16]:
#TASK 1 (D)
Maxmarks = 50
print('value :',Maxmarks)
print('id of maxmarks :',id(Maxmarks))
print('datatype :',type(Maxmarks))

value : 50
id of maxmarks : 140711873124680
datatype : <class 'int'>

In [17]:
#TASK 2 (A)
var1=2
print(var1)

2

In [18]:
#TASK 2 (B)
2var=2
print(2var)

SyntaxError: invalid decimal literal (3047678404.py, line 2)

In [19]:
#TASK 2 (c)
var 1 = 2
print(var 1)

SyntaxError: invalid syntax (3361387280.py, line 2)

In [20]:
#TASK 2 (D)
var$2 = 2
print(var$2)

SyntaxError: invalid syntax (2057860753.py, line 2)

In [35]:
#TASK 5(A)
maxmarks = 100
print((maxmarks/100)*100,'%')

100.0 %

In [26]:
#TASK 5(B)
Firstname = 'Rasireddy'
Lastname = 'Theja'
print(Firstname+Lastname)

RasireddyTheja

In [33]:
#TASK 5(c)
Fullname = 'RasireddyTheja'
maxmarks = 100
print(Fullname,'scored :',(maxmarks/100)*100,'%')

RasireddyTheja scored : 100.0 %

In [36]:
# TASK 7 (a)
value = 1+"2"
print(value)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
# TASK 7 (b)
value = "1"+"2"
print(value)

12

In [38]:
# TASK 7 (c)
value = 1/2
print(value)

0.5

In [39]:
# TASK 7 (c)
value = 1//2
print(value)

0

In [41]:
# TASK 9 (A)
firstname = "John"
fullname = "John Doe"
Test = firstname in fullname
print(Test)

True

In [42]:
# TASK 9 (B)
firstname = "John"
fullname = "John Doe"
Test = firstname is fullname
print(Test)

False

In [45]:
# TASK 10
a = 4
b = 3             ## d and e values are different.the expressions they are used in are different, leading to different results.
c = 2
d = a**b+c
e = a**(b+c)
print(d)
print(e)

66
1024