### Task - 1

In [4]:
name = input('enter a name:')
print("original name is :",name)
reversedvalue = name[::-1]
print('reversedvalue is :',reversedvalue)

if name == reversedvalue:
    print('it is plaindrome')
else:
    print('it is not plaindrome')

enter a name:abcdcba
original name is : abcdcba
reversedvalue is : abcdcba
it is plaindrome

### Task -2

In [6]:
''' Create a user-defined function to accept multiple words from the user and store them in a list. Sort the words in
the list in alphabetical order and print them.'''

def multiple_words():
    name = input('enter a words:')
    
    sorted_word = sorted(name)
    
    for i in sorted_word:
        print(i, end = " , ")
        
multiple_words()

enter a words:jaggu moon abc chd
  ,   ,   , a , a , b , c , c , d , g , g , h , j , m , n , o , o , u ,

In [19]:
def multiple_words(word):
    word = sorted(word)
    for i in word:
        print(i, end=",")
words = ['jaggu','moon','abbas','elima']
multiple_words(words)

abbas,elima,jaggu,moon,

### Task - 3

In [10]:
'''Create a user-defined function to accept user input as a list of characters. Convert the list of characters into a
string and display the output. '''

def convert_to_string(char_list):
   
    result_string = ''.join(char_list)
    return result_string


char_list = ['J', 'a', 'g', 'g', 'u']
result = convert_to_string(char_list)
print(f"The converted string is: {result}")

The converted string is: Jaggu

### Task - 4

In [65]:
def minmax():
    emptlist = []
    
    for i in range(5):
        num = int(input("enter a 5 number:"))
        emptlist.append(num)
    print("Max:",max(emptlist))
    print("Min:",min(emptlist))
    
minmax()

enter a 5 number:45
enter a 5 number:34
enter a 5 number:45
enter a 5 number:67
enter a 5 number:35
Max: 67
Min: 34

### Task - 5

In [70]:
def fundict():
    dict1 = {'item1':1,'item2':23,'item3':34,'item4':3,'item5':7}
    v = list(dict1.values())
    n = list(dict1.keys())
    print('max',max(v))
    print('min',min(v))
    
fundict()

max 34
min 1

### Task - 6

In [ ]:
''' Write a program to create a profile card of a person. Create a user-defined function fl() to accept input from
the user to store the name, age, gender, and occupation as local variables. Create another user-defined function f2() 
to print the values entered by the user earlier and generate a profile card. Function f2() will be called from fl().'''

In [57]:
def function_1(name, age, gender, occupation):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    gender = input("Enter your gender: ")
    occupation = input("Enter your occupation: ")
    return name, age, gender, occupation

def function_2():
    function_1()
    print("name :",name)
    print("age :",age)
    print("gender :",gender)
    print("occupation :",occupation)

function_2()

TypeError: function_1() missing 4 required positional arguments: 'name', 'age', 'gender', and 'occupation'

In [81]:
def profile_card(employee):
    print(f"Name: {employee['name']}")
    print(f"Age: {employee['age']}")
    print(f"Gender: {employee['gender']}")

def func1():
    name = input("Enter employee name: ")
    age = input("Enter employee age: ")
    gender = input("Enter employee gender: ")

    dict2 = {"name": name,"age": age,"gender": gender}

    profile_card(dict2)

def func():
    func1()

# Call the func function to start the process
func()

Enter employee name: jahhdf
Enter employee age: 45
Enter employee gender: dfsf
Name: jahhdf
Age: 45
Gender: dfsf

### Task - 7

In [84]:
color = [('black', 4), ('green', 1), ('red', 5), ('blue', 2), ('yellow', 3)]

List3 = []

for i in color:
    List3.append(tuple(reversed(i)))
    
print(List3)    

List4 = []

for i in sorted(List3):
    List4.append(tuple(reversed(i)))
    
print(List4)

[(4, 'black'), (1, 'green'), (5, 'red'), (2, 'blue'), (3, 'yellow')]
[('green', 1), ('blue', 2), ('yellow', 3), ('black', 4), ('red', 5)]

### Task - 8

In [86]:
a = ["Andy", "Mandy", "Sandy"]
b = ["Handy", "Burgundy", "Mandy"]

result = list(filter(lambda x : x in a,b))

print(result)

['Mandy']

### Task - 9

In [88]:
c = [12, 14, 14]
d = [17, 16, 17]

result = list(map(lambda a,b : a + b, c,d))
print(result)

[29, 30, 31]

### TAsk - 10

In [97]:
dob = "12-25-1991"
doj = "04-25-2020"

b = dob.split("-")
print("dob =",b)

j = doj.split("-")
print("doj =",j)

d_year = int(b[-1])
print("d_year =",d_year)

j_year = int(j[-1])
print("j_year =",j_year)

age = j_year - d_year
print("age_claculate =",age)

if age > 18:
    print(True)
else:
    print(False)

dob = ['12', '25', '1991']
doj = ['04', '25', '2020']
d_year = 1991
j_year = 2020
age_claculate = 29
True