In [ ]:
#TASK 1

In [13]:
import numpy as np

HR = np.arange(1, 4)
IT = np.arange(4, 19)
FINANCE = np.arange(19, 24)
SALES = np.arange(24, 32)

print("HR Department IDs :", HR)
print("IT Department IDs :", IT)
print("Finance Department IDs :", FINANCE)
print("Sales Department IDs :", SALES)

HR Department IDs : [1 2 3]
IT Department IDs : [ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Finance Department IDs : [19 20 21 22 23]
Sales Department IDs : [24 25 26 27 28 29 30 31]

In [14]:
#TASK 2

In [23]:
import numpy as np


hr_sal = np.array((50, 60, 57))
it_sal = np.repeat(67, 15)
finance_sal = np.array((60, 65, 50, 70, 87))
sales_sal = np.array((50, 60, 65, 90, 56, 65, 71))


print("HR Salaries:", hr_sal)
print("IT Salaries:", it_sal)
print("Finance Salaries:", finance_sal)
print("Sales Salaries:", sales_sal)

HR Salaries: [50 60 57]
IT Salaries: [67 67 67 67 67 67 67 67 67 67 67 67 67 67 67]
Finance Salaries: [60 65 50 70 87]
Sales Salaries: [50 60 65 90 56 65 71]

In [24]:
# TASK 3

In [37]:
hr_avg = np.mean(hr_sal)
it_avg = np.mean(it_sal)
finance_avg = np.mean(finance_sal)
sales_avg = np.mean(sales_sal)

print("HR Department - Average Salary:", hr_avg)
print("IT Department - Average Salary:", it_avg)
print("Finance Department - Average Salary:", finance_avg)
print("Sales Department - Average Salary:", sales_avg)

department_salaries = {
    "HR": hr_avg,
    "IT": it_avg,
    "Finance": finance_avg,
    "Sales": sales_avg
}
highest_avg_salary = max(department_salaries)

print("Department with the Highest Average Salary:", highest_avg_salary)

HR Department - Average Salary: 55.666666666666664
IT Department - Average Salary: 67.0
Finance Department - Average Salary: 66.4
Sales Department - Average Salary: 65.28571428571429
Department with the Highest Average Salary: Sales

In [38]:
# TASK 4

In [40]:
highest_hr_salary = np.max(hr_sal)
highest_finance_salary = np.max(finance_sal)

print("Highest Salary in HR Department:", highest_hr_salary)
print("Highest Salary in Finance Department:", highest_finance_salary)

Highest Salary in HR Department: 60
Highest Salary in Finance Department: 87

In [41]:
# TASK 5

In [42]:
it_sal = np.array([67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67])
it_sal_with_bonus = it_sal * 1.05

print("IT Salaries with 5% Bonus:", it_sal_with_bonus)

IT Salaries with 5% Bonus: [70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35
 70.35 70.35 70.35]